<%- partial("../../partials/head.ejs") %>
<body>
    <%- partial("../../partials/navbar.ejs") %>

<div class="container">
 
    <h1>Delivery</h1>
    <br>
    <h3>FREE GREECE Delivery on most orders Over 19.99€</h3>
    <br/>
    <p><b>Available shipping options are:</b></p>
    <br/>
    <p>Standard Delivery 3-5 Working Days: free </p>
    <br/>
    <p>***Saturday Delivery (Order before 12 lunchtime Thursday): <u>Unavailable</u></p>
    <br/>
    <p>Express Delivery 1-3 Working Days: 2.99€</p>
    <br>
    <h3>GREECE Delivery Under 19.99€</h3>
    <br/>
    <p>Standard Delivery (<1kg) 3-5 Working Days: 2.99€	</p>
    <p>Standard Delivery (>1kg) 3-5 Working Days: 4.99€	</p>
    <p>***Saturday Delivery (Order before 12 lunchtime Thursday): 2.99€	</p>
    <p>Express Delivery 1-3 Working Days: 6.99€	</p>
    <br/>
    <p>***Order before 12pm on Thursday Lunchtime to get delivery the same Saturday. 
       Please note this service is not available on regional charge areas, 
       and will not show at checkout.  </p>
       <br/>
       <p>Express Delivery dispatch before 11am. Please note on the product page it will be 
         advertised if the product is available for next day delivery; 
         all the products on the order need to be available for next day delivery in order 
         for the order to be dispatched same day on an express service. 
         Orders need to be placed before 11am. Excludes surcharge postcodes. 
         Please note weekends and bank holidays are not counted as working days.</p>
         <br>
         <h3>Click & Collect</h3>
         <br/>
         <p>Local to Athens? Select our 'Click & Collect' option at checkout and when your order 
            is ready, we will email you confirmation, and then you can come and collect it 
            from our warehouse: best pet shop ever, 
            Unit A5 Precision Business Park, 100 Masons Road, Kallithea, Attiki.</p>
 </div>
 
 

 <%- partial("../../partials/footer.ejs") %>
 <%- partial("../../partials/scripts.ejs") %>

</body>




