<%- partial("../partials/head.ejs") %>
<body>
    <%- partial("../partials/navbar.ejs") %>        

    <div class="container">
        <h2 class="text-center">Our Team</h2>
        <hr>
        <div class="row">
            <div class="card col-md-4 animate__animated animate__fadeIn">
                <img class="card-img-top" src="img/337590_2414770206319_1621483614_o.jpg" alt="Card 1"/>
                <div class="card-body">
                    <h5 class="card-title">Spiros Valkaniotis</h5>
                    <p class="card-text">Enterprener, sit amet consectetur adipisicing elit. Dolorum corrupti minus aliquam iure tempore nulla accusamus sapiente hic quia consequatur, sed possimus inventore, a perspiciatis labore doloremque, suscipit explicabo vel!
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <div class="card col-md-4 animate__animated animate__fadeIn">
                <img class="card-img-top" src="img/11737885_10207263711170606_3649243498695774143_n.jpg" alt="Card 2"/>
                <div class="card-body">
                    <h5 class="card-title">Kostas Rokkas</h5>
                    <p class="card-text">Agios Psistis, sit amet consectetur adipisicing elit. Dolorum corrupti minus aliquam iure tempore nulla accusamus sapiente hic quia consequatur, sed possimus inventore, a perspiciatis labore doloremque, suscipit explicabo vel!
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <div class="card col-md-4 animate__animated animate__fadeIn">
                <img class="card-img-top" src="img/48383997_10216393685649234_1015010714617643008_n.jpg" alt="Card 3"/>
                <div class="card-body">
                    <h5 class="card-title">Dimitris Kalerantes</h5>
                    <p class="card-text">Heavy metaller, sit amet consectetur adipisicing elit. Dolorum corrupti minus aliquam iure tempore nulla accusamus sapiente hic quia consequatur, sed possimus inventore, a perspiciatis labore doloremque, suscipit explicabo vel!
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <div class="card col-md-4 animate__animated animate__fadeIn">
                <img class="card-img-top" src="img/vangelis.jpg" alt="Card 3"/>
                <div class="card-body">
                    <h5 class="card-title">Vangelis Konstantinidis</h5>
                    <p class="card-text">Megas Grinias, Sit amet consectetur adipisicing elit. Dolorum corrupti minus aliquam iure tempore nulla accusamus sapiente hic quia consequatur, sed possimus inventore, a perspiciatis labore doloremque, suscipit explicabo vel!
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <div class="card col-md-4 animate__animated animate__fadeIn">
                <img class="card-img-top" src="img/tolarass.jpg" alt="Card 3"/>
                <div class="card-body">
                    <h5 class="card-title">Apostolis Sitaras</h5>
                    <p class="card-text">Taraksias, Sit amet consectetur adipisicing elit. Dolorum corrupti minus aliquam iure tempore nulla accusamus sapiente hic quia consequatur, sed possimus inventore, a perspiciatis labore doloremque, suscipit explicabo vel!
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <%-partial("../partials/footer.ejs") %>
    <%- partial("../partials/scripts.ejs") %>
</body>