<%- partial("../partials/head.ejs") %>
<body>
    <%- partial("../partials/navbar.ejs") %>        
    <div class="container">
   
<h1>Easy Returns</h1><br/>
<h3>Free Returns To the Shop</h3><br/>
<h2>Return to a store (It's Free)</h2><br/>
<p>Your local Best Pet Shop Ever store will gladly accept the return of your Best Pet Shop Ever.com order within 60 days of the initial shipment date.</p>
<h4>In order to process your return in-store, please be prepared to show one of the following:</h4>
<ul>
    <li>Store Return Receipt – print at home or have ready on your smart phone when you reach the register. 
        A link to print or view your Store Return Receipt is found in your Order History with your account. <br/>
        On the Petco App you can easily view it under the My Orders section.</li> 
    <li>Purchase Confirmation Email – print at home or have ready on your smart phone when you reach the register.</li>
</ul>

<p>Orders placed online using your PayPal account may be returned to any Petco or Unleashed by  Best Pet Shop Ever store for a refund in the form</p>
<p>of a gift card, with receipt, or may be exchanged.</p><br/>
<p> Best Pet Shop Ever reserves the right to limit returns regardless of receipt. If funds are not available at the store, a corporate check will be</p>
<p>issued. Valid government-issued ID (US-issued ID; State-issued ID; Driver's License (DL), including US and Canadian DL; Military</p>
<p>ID; or Passport) is required for all returns and exchanges. </p>
<p>Best Pet Shop Ever will not sell the information obtained through this process.</p><br/>
<p>Returns without a receipt or made after 60 days are eligible for in-store only merchandise credit equal to the lowest company-</p><br/>
<p>wide price at which the returned products were sold.</p><br/>
<p>Personalized items, prescription food or pharmacy items cannot be returned to a store. </p><br/>

</div>

<%-partial("../partials/footer.ejs") %>
<%- partial("../partials/scripts.ejs") %>

</body>

