<%- include("../head") %>
<body>
<%- include("../navbar") %>

<div class="container">
 
   <p>This dog who literally cannot handle all the cupcakes</p>
   <img src="../../../assets/img/footer/reason-to-smile/cupcakes.gif"/>
   <hr/>
   <p>It took this timid feline months to work up the courage to approach the wet-nosed apple of his eye.</p>
   <img src="../../../assets/img/footer/reason-to-smile/pug-cat.gif"/>
   <hr/>
   <p>This dog was just trying to get ahead so he could help pull you out of that ditch.</p>
   <img src="../../../assets/img/footer/reason-to-smile/dog-jumps-on-man.gif"/>
   <hr/>
   <p>This dog was just trying to remind you how to share.</p>
   <img src="../../../assets/img/footer/reason-to-smile/dog-hijacks-sleigh.gif"/>
   <hr/>
   <p>his bed is soft & warm! What's not to love?!</p>
   <img src="../../../assets/img/footer/reason-to-smile/dog-sleeping-on-dog.jpg"/>
   <hr/>
   <p>This is what I do at work...</p>
   <img src="../../../assets/img/footer/reason-to-smile/cat-on-laptop.jpg"/>
   <hr/>
   <p>I'd love a treat right now!</p>
   <img src="../../../assets/img/footer/reason-to-smile/dog-hours.jpg"/>
   <hr/>
   

 </div>

<%- include("../footer") %>
<%- include("../scripts") %>

</body>