<%- partial("../../partials/head.ejs") %>
<body>
<%- partial("../../partials/navbar.ejs") %>

<div class="container">


    <h2>Pay On Delivery</h2>
    <p>For orders more than 150€, deposits will take part with bank deposits, 
        credit card or paypal</p><br>
    <br/>
    <h2>Credit Card</h2>
    <p>Eurobank's e-commerse support any credit, 
        deposit or prepaid cards of  Visa, Mastercard, Maestro & Visa Electron.
        Unfortunatelly you can't repay with bank installments. 
        Your transaction is totally trustworthy beacuse takes part at Eurobank's enviroment </p>
    <br/>
    <h2>Bank Deposit or E-Banking</h2>
    <p>You can deposit the amount of your order at the following banks, 
        make sure the name of the deposit is the correct one</p>
    <br/>
    <p>ETHNIKI BANK, ACOUNT:  140-00568395, IBAN: GR54 0110 1400 0000 1400  395<br/>
       EUROBANK, ACOUNT: 140-00568395, IBAN: GR54 0110 1400 0000 1400  395<br/>
       PEIRAIOS BANK, ACOUNT: 140-00568395, IBAN: GR54 0110 1400 0000 0568 395<br/>
       ALPHA BANK, ACOUNT: 140-00568395, IBAN: GR54 0110 1400 0000 1400  395</p>
   

 
   

 </div>

 <%- partial("../../partials/footer.ejs") %>
 <%- partial("../../partials/scripts.ejs") %>

</body>