<div class="errors-bg">
   <div class="errors-form">
      <h2>It appears that you are already logged in.</h2>
      <h4>You can go the <a href="/">main page</a> or <a href="/logout">log out</a> if you like.</h4>
   </div>
</div>