<div class="errors-bg">
   <div class="errors-form">
      <h2>You have to be logged in to access this session</h2>
      <h4>You can <a href="/login">log in</a> and try again.</h4>
      <h4>Or just go to the <a href="/">main page</a></h4>
   </div>
</div>