<div class="errors-bg">
   <div class="errors-form">
      <h2>Sorry, we couldn't find an account with that email or password.</h2>
      <h4>Please <a href="/login">Try Again</a></h4>
   </div>
</div>