<!-- <div class="custom-modal-bg">
   <form class="modal-login">
      <h2>Log In!</h2>
      <label for="email">Email: </label>
      <input type="email" autocomplete="username" name="email" id="email">
      <label for="pass">Password: </label>
      <input type="password" autocomplete="current-password" name="password" id="password">
      <input type="submit" value="submit" id="login-submit">
      <span class="modal-close"> &#10006; </span>
   </form>
</div> -->


<%- partial("../partials/head.ejs") %>
<%- partial("../partials/navbar.ejs") %>
<div class="logged-in" > 
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <div class="login-form bg-light mt-4 p-4">
                    <form action="/login" method="POST" class="row g-3">

                        <h4>Login Form</h4>
                       
                        <div class="col-12">
                            <label>E-mail:</label>
                            <input type="text" name="email" class="form-control" placeholder="E-mail">
                        </div>
                        <div class="col-12">
                            <label>Password:</label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="rememberMe">
                                <label class="form-check-label" for="rememberMe"> Remember me</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn btn-success" value="Log In">
                           
                        </div>
                   
                    <hr class="mt-4">
                    <div class="col-12">
                        <p class="text-center mb-0">You don't have an account yet? <a href="/register">Signup</a></p>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</div>

    <%- partial("../partials/footer.ejs") %>
    


