<h3>register</h3>
<form action="/register" method="POST">
   Username: <input type="text" name="username"><br>
   Password: <input type="password" name="password"><br>
   E-mail: <input type="email" name="email"><br>
   First name: <input type="text" name="firstName"><br>
   Last name: <input type="text" name="lastName"><br>
   Address: <input type="text" name="address"><br>
   Contact Number: <input type="text" name="contact_number"><br>
   <input type="submit" value="Register">
</form>