<%- include("head") %>

   <body>
      <%- include("navbar") %>
      <div class="main">
         <div id="carouselExampleCaptions" class="carousel slide main1-custom col-md-12" data-bs-ride="carousel">
            <div class="carousel-indicators">
               <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
               <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
               <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <a href=".." class="carousel_a-custom">
                     <img
                        src="https://thumbs.dreamstime.com/b/beautiful-purebred-dogs-posing-isolated-over-gradient-background-different-breeds-dogs-collage-small-pets-looking-happy-208120478.jpg"
                        class="d-block w-100 custom-img" alt="...">
                     <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                  </a>
               </div>
            </div>
            <div class="carousel-item">
               <a href=".." class="carousel_a-custom">
                  <img
                     src="https://1.bp.blogspot.com/-mp0p3zN-9Ys/XFYDSZsqnkI/AAAAAAAAB7A/N8FHuAvrrdwvZhoj1agm_7JcOrIEZp_jQCKgBGAs/w3440-h1440-p-k-no-nu/cat-1-4K.jpg"
                     class="d-block w-100 custom-img" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                     <h5>Second slide label</h5>
                     <p>Some representative placeholder content for the second slide.</p>
               </a>
            </div>
         </div>
         <div class="carousel-item">
            <a href=".." class="carousel_a-custom">
               <img src="https://www.hugpetfood.co.uk/wp-content/uploads/2020/07/TheGang.jpg"
                  class="d-block w-100 custom-img" alt="...">
               <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>

               </div>
            </a>

         </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
         data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
         data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
      </button>
      </div>

      <!-- <div class="jumbotron bgheader no-radius">  
        <div class="container">
            <div class="row headerImageFont">
                <!-- <div class="col-md-6 animate__animated animate__bounceInLeft">
                    <h1>Best Quality of wines</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus repudiandae nostrum obcaecati, accusantium quos
                        reprehenderit iure vero labore veniam cupiditate ad? Omnis,
                        ullam labore eveniet ipsam soluta consectetur voluptatem amet.
                    </p>
                    <button class="btn bg-custom no-radius">Read More</button>
                </div> -->
      <!-- <div class="col-md-6 animate__animated animate__bounceInRight"> 
                    <h1>Best Quality of Products for Our friends!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus repudiandae nostrum obcaecati, accusantium quos
                        reprehenderit iure vero labore veniam cupiditate ad? Omnis,
                        ullam labore eveniet ipsam soluta consectetur voluptatem amet.
                    </p>
                    <button class="btn bg-custom no-radius">Read More</button>
                </div>
            </div>
        </div>
    </div> -->
      </div>

      <div class="container">
         <h2 class="text-center">Categories</h2>
         <hr>
      </div>
      <div class="container">

         <div class="custom-categories">
            <div class="petchoice ">
               <div class="pet-categ dog-categ">
                  <a href="index.html#dog-nav">
                     <div class="image1 pet"></div>
                  </a>
               </div>
               <p class="pets-heading">Dog</p>
            </div>
            <div class="petchoice ">
               <div class="pet-categ cat-categ">
                  <a href="index.html#cat-nav">
                     <div class="image2 pet"></div>
                  </a>
               </div>
               <p class="pets-heading">Cat</p>
            </div>
            <div class="petchoice ">

               <div class="pet-categ bird-categ">
                  <a href="index.html#bird-nav">
                     <div class="image3 pet"></div>
                  </a>

               </div>
               <p class="pets-heading">Bird</p>
            </div>

            <div class="petchoice">
               <div class="pet-categ fish-categ">
                  <a href="index.html#fish-nav">
                     <div class="image4 pet"></div>
                  </a>
               </div>
               <p class="pets-heading">Fish</p>
            </div>

            <div class="petchoice">
               <div class="pet-categ small-pets-categ">
                  <a href="index.html#small-animals-nav">
                     <div class="image5 pet"></div>
                  </a>
               </div>
               <p class="pets-heading">Small Animals</p>
            </div>
         </div>
         <h2 class="text-center">New Arrivals</h2>
         <hr>
         <div class="row">
            <div class="col-md-3 myProductBox">
               <img src="img/PPVD_Cat_and_Dog_3D_CN_Front_No_Shadow.jpg" alt="purina veterinary" />
               <h4>Purina veterinary</h4>
               <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                  Cart</button>
            </div>
            <div class="col-md-3 myProductBox">
               <img src="img/142.jpg" alt="greenfields spray" />
               <h4>greenfields spray</h4>
               <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                  Cart</button>
            </div>
            <div class="col-md-3 myProductBox">
               <img src="img/PPVD_Dog_3D_OM_Front_No_Shadow_tqje-fm.jpg" alt="purina veterinary" />
               <h4>Purina veterinary</h4>
               <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                  Cart</button>
            </div>
            <div class="col-md-3 myProductBox">
               <img src="img/3D_PRIMORDIAL_PUPPY_12KG.jpg" alt="primordial dog food" />
               <h4>Primordial dog food</h4>
               <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                  Cart</button>
            </div>
         </div>

         <h2 class="text-center">Featured Sales Products</h2>
         <hr>
         <div class="row">
            <div class="col-md-3 myProductBox">
               <img src="img/PPVD_Cat_and_Dog_3D_CN_Front_No_Shadow.jpg" alt="purina veterinary" />
               <h4>Purina veterinary</h4>
               <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                  Cart</button>
            </div>
            <div class="col-md-3 myProductBox">
               <img src="img/142.jpg" alt="greenfields spray" />
               <h4>greenfields spray</h4>
               <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                  Cart</button>
            </div>
            <div class="col-md-3 myProductBox">
               <img src="img/PPVD_Dog_3D_OM_Front_No_Shadow_tqje-fm.jpg" alt="purina veterinary" />
               <h4>Purina veterinary</h4>
               <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                  Cart</button>
            </div>
            <div class="col-md-3 myProductBox">
               <img src="img/3D_PRIMORDIAL_PUPPY_12KG.jpg" alt="primordial dog food" />
               <h4>Primordial dog food</h4>
               <button class="btn bg-custom no-radius add"><i class="fas fa-shopping-cart"></i> Add To
                  Cart</button>
            </div>
         </div>
         <!--------DOG NAVIGATION------->
         <div id="dog-nav">
            <h3 class="text-center">DOGS</h3>
            <hr>
            <div class="row">
               <div class="col-md-3 myBox">
                  <a href="dogFood.html">
                     <img src="img/pet-shop-veterinary-with-food-animals-vector.jpg" alt="Foods" /></a>
                  <h4>Foods</h4>

               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/HTB1YblfXsfrK1Rjy0Fmq6xhEXXa0.webp" alt="Collars" />
                <h4>Collars</h4>
            </div> -->
               <!-- <div class="col-md-3 myBox">
                <img src="img/download.jpg" alt="toys" />
                <h4>toys</h4>
            </div> -->
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img
                        src="img/Double-Pet-Bowls-Dog-Food-Water-Feeder-Stainless-Steel-Pet-Drinking-Dish-Feeder-Cat-Puppy-Feeding.jpg_Q90.jpg_.webp"
                        alt="Accessories" /></a>
                  <h4>Accessories</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/a7e48fe4d2898693bc984aaa937f3bb4.png" alt="vet products" />
                  </a>
                  <h4>Vetinary Products</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/199709573426d727965f5e814c7b9c95.jpg" alt="cleaning products" />
                  </a>
                  <h4>Dog Grooming</h4>
               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/61J6NhdeZhL._AC_SL1002_.jpg" alt="pet clothes" />
                <h4>pet clothes</h4>
            </div>
            <div class="col-md-3 myBox">
                <img src="img/200054_PHO_PRO_CLIP_39871-2.jpg" alt="pet transport boxes" />
                <h4>pet transport boxes</h4>
            </div> -->
            </div>
         </div>
         <!-------CAT NAVIGATION------->
         <div id="cat-nav">
            <h3 class="text-center">CATS</h3>
            <hr>
            <div class="row">
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/pet-shop-veterinary-with-food-animals-vector.jpg" alt="Foods" /></a>
                  <h4>Foods</h4>

               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/HTB1YblfXsfrK1Rjy0Fmq6xhEXXa0.webp" alt="Collars" />
                <h4>Collars</h4>
            </div> -->
               <!-- <div class="col-md-3 myBox">
                <img src="img/download.jpg" alt="toys" />
                <h4>toys</h4>
            </div> -->
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img
                        src="img/Double-Pet-Bowls-Dog-Food-Water-Feeder-Stainless-Steel-Pet-Drinking-Dish-Feeder-Cat-Puppy-Feeding.jpg_Q90.jpg_.webp"
                        alt="Accessories" /></a>
                  <h4>Accessories</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/a7e48fe4d2898693bc984aaa937f3bb4.png" alt="vet products" />
                  </a>
                  <h4>Vetinary Products</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/199709573426d727965f5e814c7b9c95.jpg" alt="cleaning products" />
                  </a>
                  <h4>Dog Grooming</h4>
               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/61J6NhdeZhL._AC_SL1002_.jpg" alt="pet clothes" />
                <h4>pet clothes</h4>
            </div>
            <div class="col-md-3 myBox">
                <img src="img/200054_PHO_PRO_CLIP_39871-2.jpg" alt="pet transport boxes" />
                <h4>pet transport boxes</h4>
            </div> -->
            </div>
         </div>
         <!--------BIRD NAVIGATION------>
         <div id="bird-nav">
            <h3 class="text-center">BIRDS</h3>
            <hr>
            <div class="row">
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/pet-shop-veterinary-with-food-animals-vector.jpg" alt="Foods" /></a>
                  <h4>Foods</h4>

               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/HTB1YblfXsfrK1Rjy0Fmq6xhEXXa0.webp" alt="Collars" />
                <h4>Collars</h4>
            </div> -->
               <!-- <div class="col-md-3 myBox">
                <img src="img/download.jpg" alt="toys" />
                <h4>toys</h4>
            </div> -->
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img
                        src="img/Double-Pet-Bowls-Dog-Food-Water-Feeder-Stainless-Steel-Pet-Drinking-Dish-Feeder-Cat-Puppy-Feeding.jpg_Q90.jpg_.webp"
                        alt="Accessories" /></a>
                  <h4>Accessories</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/a7e48fe4d2898693bc984aaa937f3bb4.png" alt="vet products" />
                  </a>
                  <h4>Vetinary Products</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/199709573426d727965f5e814c7b9c95.jpg" alt="cleaning products" />
                  </a>
                  <h4>Dog Grooming</h4>
               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/61J6NhdeZhL._AC_SL1002_.jpg" alt="pet clothes" />
                <h4>pet clothes</h4>
            </div>
            <div class="col-md-3 myBox">
                <img src="img/200054_PHO_PRO_CLIP_39871-2.jpg" alt="pet transport boxes" />
                <h4>pet transport boxes</h4>
            </div> -->
            </div>
         </div>
         <!--------FISH NAVIGATION------>
         <div id="fish-nav">
            <h3 class="text-center">FISH</h3>
            <hr>
            <div class="row">
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/pet-shop-veterinary-with-food-animals-vector.jpg" alt="Foods" /></a>
                  <h4>Foods</h4>

               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/HTB1YblfXsfrK1Rjy0Fmq6xhEXXa0.webp" alt="Collars" />
                <h4>Collars</h4>
            </div> -->
               <!-- <div class="col-md-3 myBox">
                <img src="img/download.jpg" alt="toys" />
                <h4>toys</h4>
            </div> -->
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img
                        src="img/Double-Pet-Bowls-Dog-Food-Water-Feeder-Stainless-Steel-Pet-Drinking-Dish-Feeder-Cat-Puppy-Feeding.jpg_Q90.jpg_.webp"
                        alt="Accessories" /></a>
                  <h4>Accessories</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/a7e48fe4d2898693bc984aaa937f3bb4.png" alt="vet products" />
                  </a>
                  <h4>Vetinary Products</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/199709573426d727965f5e814c7b9c95.jpg" alt="cleaning products" />
                  </a>
                  <h4>Dog Grooming</h4>
               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/61J6NhdeZhL._AC_SL1002_.jpg" alt="pet clothes" />
                <h4>pet clothes</h4>
            </div>
            <div class="col-md-3 myBox">
                <img src="img/200054_PHO_PRO_CLIP_39871-2.jpg" alt="pet transport boxes" />
                <h4>pet transport boxes</h4>
            </div> -->
            </div>
         </div>
         <div id="small-animals-nav">
            <h3 class="text-center">SMALL ANIMALS</h3>
            <hr>
            <div class="row">
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/pet-shop-veterinary-with-food-animals-vector.jpg" alt="Foods" /></a>
                  <h4>Foods</h4>

               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/HTB1YblfXsfrK1Rjy0Fmq6xhEXXa0.webp" alt="Collars" />
                <h4>Collars</h4>
            </div> -->
               <!-- <div class="col-md-3 myBox">
                <img src="img/download.jpg" alt="toys" />
                <h4>toys</h4>
            </div> -->
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img
                        src="img/Double-Pet-Bowls-Dog-Food-Water-Feeder-Stainless-Steel-Pet-Drinking-Dish-Feeder-Cat-Puppy-Feeding.jpg_Q90.jpg_.webp"
                        alt="Accessories" /></a>
                  <h4>Accessories</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/a7e48fe4d2898693bc984aaa937f3bb4.png" alt="vet products" />
                  </a>
                  <h4>Vetinary Products</h4>
               </div>
               <div class="col-md-3 myBox">
                  <a href="..">
                     <img src="img/199709573426d727965f5e814c7b9c95.jpg" alt="cleaning products" />
                  </a>
                  <h4>Dog Grooming</h4>
               </div>
               <!-- <div class="col-md-3 myBox">
                <img src="img/61J6NhdeZhL._AC_SL1002_.jpg" alt="pet clothes" />
                <h4>pet clothes</h4>
            </div>
            <div class="col-md-3 myBox">
                <img src="img/200054_PHO_PRO_CLIP_39871-2.jpg" alt="pet transport boxes" />
                <h4>pet transport boxes</h4>
            </div> -->
            </div>
         </div>
      </div>
      <br>
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <h4>Column 1</h4>
                  <ul class="list-unstyled">
                     <li><a href="#">Link 1</a></li>
                     <li><a href="#">Link 2</a></li>
                     <li><a href="#">Link 3</a></li>
                     <li><a href="#">Link 4</a></li>
                  </ul>
               </div>
               <div class="col-md-3">
                  <h4>Column 2</h4>
                  <ul class="list-unstyled">
                     <li><a href="#">Link 1</a></li>
                     <li><a href="#">Link 2</a></li>
                     <li><a href="#">Link 3</a></li>
                     <li><a href="#">Link 4</a></li>
                  </ul>
               </div>
               <div class="col-md-3">
                  <h4>Column 3</h4>
                  <ul class="list-unstyled">
                     <li><a href="#">Link 1</a></li>
                     <li><a href="#">Link 2</a></li>
                     <li><a href="#">Link 3</a></li>
                     <li><a href="#">Link 4</a></li>
                  </ul>
               </div>
               <div class="col-md-3">
                  <h4>Column 4</h4>
                  <ul class="list-unstyled">
                     <li><a href="#">Link 1</a></li>
                     <li><a href="#">Link 2</a></li>
                     <li><a href="#">Link 3</a></li>
                     <li><a href="#">Link 4</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="top-shipping">
            <div class="top-shipping-img">
               <img src="img/pngwing.com (1).png" width="60" height="49" alt="shipping">
            </div>
            <div class="top-shipping-msg">
               <p><span>To No1 Online PetShop</span><br>Oι παραγγελίες εντός Αθηνών <strong>στον χώρο σας
                     αυθημερόν</strong> &amp; ΔΩΡΕΑΝ ΜΕΤΑΦΟΡΙΚΑ από 20€ και πάνω! <a
                     href="/tropoi-apostolis.html">Μάθετε Περισσότερα...</a></p>
            </div>
         </div>
      </footer>
   </body>

   <%- include("scripts") %>