<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-custom">
   <div class="container">
      <a class="navbar-brand" href="/"><img src="/img/index_img/pngwing.com.png" width="76" height="58" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item active">
               <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/ourteam">Our Team</a>
            </li>
            <li class=" nav-item">
               <a class="nav-link" href="/contactus">Contact us</a>
            </li>
            <li class="nav-item">
               <input type="text" name="search" id="search"placeholder="search product">
               <ul class="list-group" id="result"> </ul>
            </li>

            <li class="nav-item ">
               <a class="nav-link shoppingCartButton" id="cart"><i id="sum-prices" class="fas fa-shopping-cart navicon">
                     Cart</i>
               </a>


            </li>
            <li class="nav-item">
               <a class="nav-link" href="/register">Sign Up</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/">Log Out</a>
            </li>
         </ul>
      </div>
   </div>

</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-custom">

   <ul class="navbar-nav ul-custom">
      <li class="nav-item active">
         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fas fa-dog navicon"></i>
            Dog</a>
         <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
            <div class="dropdown-ul">
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="/products/dog/dog-foods">FOODS</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/dog/category/dog-dry-food">Dog Dry Food</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-cans">Dog Cans</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-treats-and-chews">Dog Treats &
                           Chews</a>
                     </li>
                     <li><a class="dropdown-item" href="/products/dog/category/barf">Barf</a></li>
                  </ul>
                  <hr class="dropdown-divider">
                  <ul class="drop-ul">
                     <li><a href="/products/dog/dog-grooming">DOG GROOMING</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/dog/category/dog-diapers">Dog Diapers </a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-shampoo">Dog Shampoo</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-brushes-and-combs">Dog Bruches
                           &
                           Combs</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-scissors-and-clippers">Dog
                           Scissors &
                           Clippers</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-perfumes-and-fragrances">Dog
                           Perfumes &
                           Fragrances</a>
                     </li>
                  </ul>
                  <hr class="dropdown-divider">
               </div>
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="/products/dog/dog-accessories">DOG ACCESORIES</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/dog/category/dog-toys">Dog Toys</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-clothes">Dog Clothes</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-collars">Dog Collars</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-bowls-and-feeding">Dog Bowls &
                           Feeding</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-leads">Dog Leads</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-harness">Dog Harness</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-poop-bags">Dog Poop Bags</a>
                     </li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-muzzle">Dog Muzzle</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-transport-boxes">Dog Transport
                           Boxes</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-beds">Dog Beds</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-houses">Dog Houses</a></li>

                  </ul>
               </div>
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="/products/dog/dog-veterinary-products">VETERINARY PRODUCTS</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item"
                           href="/products/dog/category/dog-prescription-only-medicines">Prescription Only Medicines</a>
                     </li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-antibiotics">Antibiotics For
                           Dogs</a>
                     </li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-wound-care">Wound Care</a></li>
                     <li><a class="dropdown-item" href="/products/dog/category/dog-fleas-and-wormers">Fleas & Wormers
                           For Dogs</a>
                     </li>
                     <li><a class="dropdown-item"
                           href="/products/dog/category/dog-vitamins-minerals-electrolytes">Vitamins,
                           Mineral & Electrolyte
                           Suppliments For Dogs</a>
                     </li>

                  </ul>
               </div>
               <div class="ul-image-box">
                  <img src='/img/index_img/pet-shop-veterinary-with-food-animals-vector.jpg' id="dogCategoriesPic"
                     class="category-pic">
                  <h5 class="li-header"></h5>
               </div>
            </div>
         </ul>
      </li>

      <li class="nav-item active">
         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false"><i
               class="fas fa-cat navicon"></i> Cat</a>
         <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
            <div class="dropdown-ul">
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="/products/cat/cat-foods">FOODS</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/cat/category/cat-dry-food">Cat Dry Food</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-wet-food">Cat Wet food</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-treats-and-chews">Cat Treats &
                           Chews</a></li>
                  </ul>
                  <hr class="dropdown-divider">
                  <ul class="drop-ul">
                     <li><a href="/products/cat/cat-grooming">CAT GROOMING</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/cat/category/cat-shampoo">Cat Shampoo</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-brushes-and-combs">Cat Brushes &
                           Combs</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-scissors-and-clippers">Cat Scissors &
                           Clippers</a>
                     </li>
                  </ul>
                  <hr class="dropdown-divider">
               </div>
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="/products/cat/cat-accessories">CAT ACCESORIES</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/cat/category/cat-toys">Cat Toys</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-litters">Cat Litters</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-clothes">Cat Clothes</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-collars">Cat Collars</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-bowls-and-feeding">Cat Bowls &
                           Feeding</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-transport-boxes">Cat Transport
                           Boxes</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-beds">Cat Beds</a></li>

                  </ul>
               </div>
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="/products/cat/cat-veterinary-products">VETERINARY PRODUCTS</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/cat/category/cat-antiparasitics">Antiparasitics
                           For
                           Cats</a></li>
                     <li><a class="dropdown-item" href="/products/cat/category/cat-medicines">Medicines For
                           Cats</a></li>
                     <li><a class="dropdown-item"
                           href="/products/cat/category/cat-vitamins-minerals-electrolytes">Vitamins, Mineral &
                           Electrolyte
                           Suppliments For Cats</a></li>
                  </ul>
               </div>
               <div class="ul-image-box">
                  <img src='/img/index_img/pet-shop-veterinary-with-food-animals-vector.jpg' id="catCategoriesPic"
                     class="category-pic">
                  <h5 class="li-header"></h5>
               </div>
            </div>
         </ul>
      </li>
      <li class="nav-item active">
         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fas fa-fish navicon"></i>
            Fish</a>
         <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
            <div class="dropdown-ul">
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="/products/fish/fish-food">FOOD</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/fish/category/fish-flakes">Fish Flakes</a></li>
                     <li><a class="dropdown-item"
                           href="/products/fish/category/fish-granules-pellets-sticks">Granules/Pellets/Sticks</a></li>
                  </ul>
                  <hr class="dropdown-divider">
                  <ul class="drop-ul">
                     <li><a href="/products/fish/aquariums-equipment-and-decor">AQUARIUMS EQUIPMENT & DECOR</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item"
                           href="/products/fish/category/fish-aquariums-and-aquariums-stands">Aquariums & Aquariums
                           Stands </a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-aquarium-substrate">Aquarium
                           Substrate</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-artificial-plants">Artificial
                           Plants</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-gravel-sand-and-stones">Gravel,Sand
                           & Stones</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-ornaments">Ornaments</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-breeders-and-nets">Breeders &
                           Nets</a></li>
                     <li><a class="dropdown-item"
                           href="/products/fish/category/fish-heating-and-lighting-accessories">Heating & Lighting
                           Accesories</a></li>
                  </ul>

                  <hr class="dropdown-divider">
               </div>
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="/products/fish/filters-and-pumps">FILTERS & PUMPS</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/fish/category/fish-air-and-water-pumps">Air & Water
                           Pumps</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-filters">Filters</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-filter-media">Filter Media</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-replacement-parts"> Replacement
                           Parts</a></li>
                  </ul>
                  <hr class="dropdown-divider">
                  <ul class="drop-ul">
                     <li><a href="/products/fish/fish-care">FISH CARE</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/fish/category/fish-fish-medicines">Fish Medicines</a>
                     </li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-fresh-water-improvement">Fresh
                           Water Improvement</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-sea-water-improvement">Sea Water
                           Improvement</a></li>
                     <li><a class="dropdown-item" href="/products/fish/category/fish-tests">Tests</a></li>
                  </ul>

               </div>
               <div class="ul-image-box">
                  <img src='/img/index_img/fish-food.jpg' id="fishCategoriesPic" class="category-pic">
                  <h5 class="li-header"></h5>
               </div>
            </div>
         </ul>
      </li>
      <!-- <li class="nav-item active">
           <a class="nav-link" href="#">Reptile</a>
       </li> -->
      <li class="nav-item active">
         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fas fa-crow navicon"></i>
            Bird</a>
         <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
            <div class="dropdown-ul">
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="..">FOODS & TREATS</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/bird/category/bird-food">Bird Food</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/wild-bird-food">Wild Bird Food</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-treats">Treats</a></li>
                  </ul>

                  <hr class="dropdown-divider">
                  <ul class="drop-ul">
                     <li><a href="..">ACCESORIES</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/bird/category/bird-cages-and-stands">Cages & Stands </a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-bowls-and-feeders">Bowls & Feeders</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-toys">Toys</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-travels-carriers">Travel Carriers</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-perches">Bird Perches</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-nest">Bird Nest</a></li>
                  </ul>
                  <hr class="dropdown-divider">
               </div>
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="..">GROOMING & CARE</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/bird/category/bird-medication">Bird Medication</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-sand">Bird Sand</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-vitamins">Bird Vitamins</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-baths">Bird Baths</a></li>
                     <li><a class="dropdown-item" href="/products/bird/category/bird-nail-and-break-trimmers">Nail & Beak Trimmers</a></li>
                  </ul>
               </div>
               <div class="ul-image-box">
                  <img src='/img/index_img/bird-food.jpg' id="birdCategoriesPic" class="category-pic">
                  <h5 class="li-header"></h5>
               </div>
            </div>
         </ul>
      </li>
      <li class="nav-item active">
         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fas fa-otter navicon"></i>
            Small Animals </a>
         <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
            <div class="dropdown-ul">
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="..">RABBIT</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/small-animals/category/rabbit-food">Food</a></li>
                     <li><a class="dropdown-item" href="/products/small-animals/category/rabbit-accessories">Accessories</a></li>
                     <li><a class="dropdown-item" href="/products/small-animals/category/rabbit-health-care">Health Care</a></li>
                  </ul>

                  <hr class="dropdown-divider">
                  <ul class="drop-ul">
                     <li><a href="..">HAMSTER</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/small-animals/category/hamster-food">Food </a></li>
                     <li><a class="dropdown-item" href="/products/small-animals/category/hamster-accessories">Accessories</a></li>
                     <li><a class="dropdown-item" href="/products/small-animals/category/hamster-health-care">Health Care</a></li>
                  </ul>
                  <hr class="dropdown-divider">
               </div>
               <div class="ul-part">
                  <ul class="drop-ul">
                     <li><a href="..">IGUANA</a></li>
                     <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/products/small-animals/category/iguana-food">Food </a></li>
                     <li><a class="dropdown-item" href="/products/small-animals/category/iguana-accessories">Accessories</a></li>
                     <li><a class="dropdown-item" href="/products/small-animals/category/iguana-health-care">Health Care</a></li>
                  </ul>
               </div>
               <div class="ul-image-box">
                  <img src='/img/index_img/rabbit.jpg' id="smallAnimalsCategoriesPic" class="category-pic">
                  <h5 class="li-header"></h5>
               </div>
            </div>
         </ul>
      </li>


   </ul>

</nav>
<!-----------cart div side effect-->
<div class="productsOnCart">
   <div class="overlay"></div>
   <div class="top">
      <button id="closeButton">
         <i class="fas fa-times-circle"></i>
      </button>
      <h3><i class="fas fa-shopping-cart"></i> Cart</h3>
   </div>
   <ul id="buyItems">
      <h4 class="empty">Your shopping cart is empty</h4>
      <!-- <li class="buyItem">
     <img src="Images/producs-images/Mobiles/galaxynote10.png">
     <div>
        <h5>Products Name</h5>
        <h6>$199</h6>
        <div>
           <button>-</button>
           <span class="countOfProduct">1</span>
           <button>+</button>
        </div>
     </div>
  </li> -->
   </ul>
   <i class="fab fa-cc-visa checkouticon"></i> <i class="fab fa-cc-paypal checkouticon"></i> <i
      class="fab fa-cc-mastercard checkouticon"></i>
   <button class="btn checkout hidden"> Check out</button>
</div>



<script type="text/javascript" src="navbar.js"></script>
<!-- <script type="text/javascript" src="addtocartbtn.js"></script> -->