<%- include("head") %>
<div class="mainPopUpContainer" id="modal-bg">
  <div class="mainPopUpSection">
    <div class="cross">
      <span id="xbuttton" class="span-popUp">&times;</span>
    </div>
    <section id="pop-up-section">
      <p class="animate__jackInTheBox">Get 20% Discount</p>

      <a href="http://localhost:1337/register"><button type="submit">Sign Up Now</button></a>

      <p>subscribe and get 20% discount coupon</p>
    </section>
  </div>
  <!-- end of mainSection -->
</div>
<!-- end of mainContainer -->
