<footer>
   <div class="container copyright">
      <div">Copyright © 2021 Petshop
   </div>
   <div class="row footer">
      <div class="col-md-3">
         <h4>Useful Stuff</h4>
         <ul class="list-unstyled">
            <li><a href="/ways-to-order">Ways To Order</a></li>
            <li><a href="/delivery">Delivery Time</a></li>
            <li><a href="/reason-to-smile">Reason To Smile</a></li>
         </ul>
      </div>
      <div class="col-md-3">
         <h4>Policies</h4>
         <ul class="list-unstyled">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/policy-of-return">Policy of Return</a></li>
            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
         </ul>
      </div>
      <div class="col-md-3">
         <h4>Popular Searches</h4>
         <ul class="list-unstyled">
            <li><a href="/products/dog/category/dog-dry-food">Dog Dry Food</a></li>
            <li><a href="/products/dog/category/dog-wound-care">Dog Wound Care</a></li>
            <li><a href="/products/cat/category/cat-wet-food">Cat Wet Food</a></li>
            <li><a href="/products/dog/category/dog-leads">Dog Leads</a></li>
         </ul>
      </div>
      <div class="col-md-3">
         <h4>Get To Know Us</h4>
         <ul class="list-unstyled">
            <li><a href="/ourteam">Our Team</a></li>
            <li><a href="/contactus">Contact us</a></li>
         </ul>
      </div>

      <!-- Den mporw na vrw icon gia mastercard -->

      <!-- <div class="col-md-3">
                <h4>Ways To Pay</h4>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-paypal"></i>
                    
                </ul>
        </div> -->
   </div>
   <div class="top-shipping">
      <div class="top-shipping-img">
         <img src="/img/pngwing.com (1).png" width="60" height="49" alt="shipping">
      </div>
      <div class="top-shipping-msg">
         <p><span>No1 Online PetShop</span>
            <!-- <br>For orders outside EU <strong> 5 WORKING days </strong> &amp; FREE
            SHIPPING CHARGES from 60€! <a href="/tropoi-apostolis.html">Learn More...</a> -->
         </p>
      </div>
   </div>

   <div id="media"><a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
      <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
      <a href="https://twitter.com/" class="fab fa-twitter-square"></a>
   </div>
</footer>