
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-custom">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/img/pngwing.com.png" width="76" height="58" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a id="skata" class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/ourteam">Our Team</a>
               </li>
               <li class=" nav-item">
                        <a class="nav-link" href="/contactus">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/our-team.html">Donation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/our-team.html">Products</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="cart" href="/our-team.html"><i class="fas fa-shopping-cart"></i> Your
                        Cart!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="..">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="..">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="..">Log In</a>
                </li>
            </ul>
        </div>

</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <ul class="navbar-nav ul-custom">
        <li class="nav-item active">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fas fa-dog"></i> Dog</a>
            <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
                <div class="dropdown-ul">
                    <div class="ul-part">
                        <ul>
                            <li>FOODS</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/products/dog#dryfoods">Dry Food</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogcans">Dog Cans</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogtreats">Dog Treats & Chews</a></li>
                        </ul>
                        <hr class="dropdown-divider">
                        <ul>
                            <li>DOG GROOMING</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/products/dog#dogdiapers">Dog Diapers </a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogdiapers">Dog Poop Bags</a></li>
                            <li><a class="dropdown-item" href="/products/dog#fleaandwormers">Flea And Wormers For Dogs</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogshampoo">Dog Shampoo</a></li>
                            <li><a class="dropdown-item" href="/products/dog#brachescombs">Dog Braches & Combs</a></li>
                            <li><a class="dropdown-item" href="/products/dog#scissorsclippers">Dog Scissors & Clippers</a></li>
                            <li><a class="dropdown-item" href="/products/dog#perfumesfragrances">Dog Perfumes & Fragrances</a></li>
                        </ul>
                        <hr class="dropdown-divider">
                    </div>
                    <div class="ul-part">
                        <ul>
                            <li>DOG ACCESORIES</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/products/dog#dogtoys">Dog Toys</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogclothes">Dog Clothes</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogcollars">Dog Collars</a></li>
                            <li><a class="dropdown-item" href="/products/dog#bowlsfeeding">Dog Bowls & Feeding</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogleads">Dog Leads</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogharness">Dog Harness</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogmuzle">Dog Muzle</a></li>
                            <li><a class="dropdown-item" href="/products/dog#transportboxes">Dog Transport Boxes</a></li>
                            <li><a class="dropdown-item" href="/products/dog#dogbeds">Dog Beds</a></li>
                            <li><a class="dropdown-item" href="/products/dog#doghouses">Dog Houses</a></li>

                        </ul>
                    </div>
                    <div class="ul-part">
                        <ul>
                            <li>VETERINARY PRODUCTS</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/products/dog#antiparassiticsfordogs">Antiparassitics For Dogs</a></li>
                            <li><a class="dropdown-item" href="/products/dog#antibioticsfordogs">Antibiotics For Dogs</a></li>
                            <li><a class="dropdown-item" href="/products/dog#woundcare">Wound Care</a></li>
                            <li><a class="dropdown-item" href="/products/dog#vitamins">Vitamins, Mineral & Electrolyte Suppliments</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </ul>


        </li>
        <li class="nav-item active">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false"><i
                    class="fas fa-cat"></i> Cat</a>
            <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
                <div class="dropdown-ul">
                    <div class="ul-part">
                        <ul>
                            <li>FOODS</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/products/cat#dryfoods">Dry Food</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catcans">Cat Cans</a></li>
                            <li><a class="dropdown-item" href="/products/cat#cattreats">Cat Treats & Chews</a></li>
                        </ul>
                        <hr class="dropdown-divider">
                        <ul>
                            <li>Cat GROOMING</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/products/cat#catdiapers">Cat Diapers</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catpoopbags">Cat Poop Bags</a></li>
                            <li><a class="dropdown-item" href="/products/cat#fleaandwormers">Flea And Wormers For Cats</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catshampoo">Cat Shampoo</a></li>
                            <li><a class="dropdown-item" href="/products/cat#brachescombs">Cat Braches & Combs</a></li>
                            <li><a class="dropdown-item" href="/products/cat#scissorsclippers">Cat Scissors & Clippers</a></li>
                            <li><a class="dropdown-item" href="/products/cat#perfumesfragrances">Cat Perfumes & Fragrances</a></li>
                        </ul>
                        <hr class="dropdown-divider">
                    </div>
                    <div class="ul-part">
                        <ul>
                            <li>Cat ACCESORIES</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/products/cat#cattoys">Cat Toys</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catclothes">Cat Clothes</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catcollars">Cat Collars</a></li>
                            <li><a class="dropdown-item" href="/products/cat#bowlsfeeding">Cat Bowls & Feeding</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catleads">Cat Leads</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catharness">Cat Harness</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catmuzle">Cat Muzle</a></li>
                            <li><a class="dropdown-item" href="/products/cat#transportboxes">Cat Transport Boxes</a></li>
                            <li><a class="dropdown-item" href="/products/cat#catbeds">Cat Beds</a></li>
                            <li><a class="dropdown-item" href="/products/cat#cathouses">Cat Houses</a></li>

                        </ul>
                    </div>
                    <div class="ul-part">
                        <ul>
                            <li>VETERINARY PRODUCTS</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/products/cat#antiparassiticsforcats">Antiparassitics For Cats</a></li>
                            <li><a class="dropdown-item" href="/products/cat#antibioticsforcats">Antibiotics For Cats</a></li>
                            <li><a class="dropdown-item" href="/products/cat#woundcare">Wound Care</a></li>
                            <li><a class="dropdown-item" href="/products/cat#vitamins">Vitamins, Mineral & Electrolyte Suppliments</a></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </li>
        <li class="nav-item active">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fas fa-fish"></i>
                Fish</a>
            <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
                <div class="dropdown-ul">
                    <div class="ul-part">
                        <ul>
                            <li>FOODS</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="..">Dry Food</a></li>
                            <li><a class="dropdown-item" href="..">Dog Cans</a></li>
                            <li><a class="dropdown-item" href="..">Dog Treats & Chews</a></li>
                        </ul>
                        <hr class="dropdown-divider">
                        <ul>
                            <li>DOG GROOMING</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="..">Dog Diapers </a></li>
                            <li><a class="dropdown-item" href="..">Dog Poop Bags</a></li>
                            <li><a class="dropdown-item" href="..">Flea And Wormers For Dogs</a></li>
                            <li><a class="dropdown-item" href="..">Dog Shampoo</a></li>
                            <li><a class="dropdown-item" href="..">Dog Braches & Combs</a></li>
                            <li><a class="dropdown-item" href="..">Dog Scissors & Clippers</a></li>
                            <li><a class="dropdown-item" href="..">Dog Perfumes & Fragrances</a></li>
                        </ul>
                        <hr class="dropdown-divider">
                    </div>
                    <div class="ul-part">
                        <ul>
                            <li>DOG ACCESORIES</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="..">Dog Toys</a></li>
                            <li><a class="dropdown-item" href="..">Dog Clothes</a></li>
                            <li><a class="dropdown-item" href="..">Dog Collars</a></li>
                            <li><a class="dropdown-item" href="..">Dog Bowls & Feeding</a></li>
                            <li><a class="dropdown-item" href="..">Dog Leads</a></li>
                            <li><a class="dropdown-item" href="..">Dog Harness</a></li>
                            <li><a class="dropdown-item" href="..">Dog Muzle</a></li>
                            <li><a class="dropdown-item" href="..">Dog Transport Boxes</a></li>
                            <li><a class="dropdown-item" href="..">Dog Beds</a></li>
                            <li><a class="dropdown-item" href="..">Dog Houses</a></li>

                        </ul>
                    </div>
                    <div class="ul-part">
                        <ul>
                            <li>VETERINARY PRODUCTS</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="..">Dog Toys</a></li>
                            <li><a class="dropdown-item" href="..">Dog Clothes</a></li>
                            <li><a class="dropdown-item" href="..">Dog Collars</a></li>
                            <li><a class="dropdown-item" href="..">Dog Bowls & Feeding</a></li>
                            <li><a class="dropdown-item" href="..">Dog Leads</a></li>
                            <li><a class="dropdown-item" href="..">Dog Harness</a></li>
                            <li><a class="dropdown-item" href="..">Dog Muzle</a></li>
                            <li><a class="dropdown-item" href="..">Dog Transport Boxes</a></li>
                            <li><a class="dropdown-item" href="..">Dog Beds</a></li>
                            <li><a class="dropdown-item" href="..">Dog Houses</a></li>

                        </ul>
                    </div>
                </div>
            </ul>
        </li>
        <!-- <li class="nav-item active">
           <a class="nav-link" href="#">Reptile</a>
       </li> -->
        <li class="nav-item active">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fas fa-crow"></i>
                Bird</a>
            <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
                <div class="dropdown-ul">
                    <div class="ul-part">
                        <ul>
                            <li>FOODS</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="..">Dry Food</a></li>
                            <li><a class="dropdown-item" href="..">Dog Cans</a></li>
                            <li><a class="dropdown-item" href="..">Dog Treats & Chews</a></li>
                        </ul>
                        <hr class="dropdown-divider">
                        <ul>
                            <li>DOG GROOMING</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="..">Dog Diapers </a></li>
                            <li><a class="dropdown-item" href="..">Dog Poop Bags</a></li>
                            <li><a class="dropdown-item" href="..">Flea And Wormers For Dogs</a></li>
                            <li><a class="dropdown-item" href="..">Dog Shampoo</a></li>
                            <li><a class="dropdown-item" href="..">Dog Braches & Combs</a></li>
                            <li><a class="dropdown-item" href="..">Dog Scissors & Clippers</a></li>
                            <li><a class="dropdown-item" href="..">Dog Perfumes & Fragrances</a></li>
                        </ul>
                        <hr class="dropdown-divider">
                    </div>
                    <div class="ul-part">
                        <ul>
                            <li>DOG ACCESORIES</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="..">Dog Toys</a></li>
                            <li><a class="dropdown-item" href="..">Dog Clothes</a></li>
                            <li><a class="dropdown-item" href="..">Dog Collars</a></li>
                            <li><a class="dropdown-item" href="..">Dog Bowls & Feeding</a></li>
                            <li><a class="dropdown-item" href="..">Dog Leads</a></li>
                            <li><a class="dropdown-item" href="..">Dog Harness</a></li>
                            <li><a class="dropdown-item" href="..">Dog Muzle</a></li>
                            <li><a class="dropdown-item" href="..">Dog Transport Boxes</a></li>
                            <li><a class="dropdown-item" href="..">Dog Beds</a></li>
                            <li><a class="dropdown-item" href="..">Dog Houses</a></li>

                        </ul>
                    </div>
                    <div class="ul-part">
                        <ul>
                            <li>VETERINARY PRODUCTS</li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="..">Dog Toys</a></li>
                            <li><a class="dropdown-item" href="..">Dog Clothes</a></li>
                            <li><a class="dropdown-item" href="..">Dog Collars</a></li>
                            <li><a class="dropdown-item" href="..">Dog Bowls & Feeding</a></li>
                            <li><a class="dropdown-item" href="..">Dog Leads</a></li>
                            <li><a class="dropdown-item" href="..">Dog Harness</a></li>
                            <li><a class="dropdown-item" href="..">Dog Muzle</a></li>
                            <li><a class="dropdown-item" href="..">Dog Transport Boxes</a></li>
                            <li><a class="dropdown-item" href="..">Dog Beds</a></li>
                            <li><a class="dropdown-item" href="..">Dog Houses</a></li>

                        </ul>
                    </div>
                </div>
            </ul>
        </li>
        <li class="nav-item active">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fas fa-otter"></i>
                Small Animals </a>
            <ul class="dropdown-menu sub_ul-custom" style="width: 100%;">
                <li><a class="dropdown-item" href="..">cat food</a></li>
                <li><a class="dropdown_item" href="..">cat toys</a></li>
            </ul>
        </li>


    </ul>

</nav>

<script type="text/javascript">

    var nav = document.getElementById('navbar');
    var list = document.querySelectorAll('a');
    

    window.onscroll = function(){
        if(window.pageYOffset > 100) {
            // nav.style.background =  "transparent";
            nav.style.background =  "rgba(255, 249, 192, 0.7)";
            nav.style.height =  "3rem";
            list.forEach(element =>{
                element.style.color =  "green";
                
            })
            
        }else{
            nav.style.background =  "green";
            nav.style.height =  "6rem";
            list.forEach(element =>{
                element.style.color =  "lightgrey";
                
            })
        }
    }
</script>