<h3>Create a new Product</h3>
<form action="/products/new" method="post">
   Name: <input type="text" name="name"><br>
   Description: <input type="text" name="description"><br>
   Cost Price: <input type="number" name="costPrice"><br>
   Quantity: <input type="number" name="quantity"><br>
   Product category: <select name="product_category">
      <option value="1">Toys</option>
      <option value="2">Food</option>
      <option value="3">Water</option>
   </select>
   <br>
   <input type="submit" value="Add Product">
</form>