<%- include("../head") %>

   <body>
      <%- include("../navbar") %>
         <h3>Create a new Product</h3>
         <form action="/products/new" enctype="multipart/form-data" accept="image/jpeg, .jpeg, .jpg" method="post">
            Name: <input type="text" name="name"><br>
            Description: <input type="text" name="description"><br>
            Vendor Price: <input type="number" name="vendorPrice"><br>
            Retail Price: <input type="number" name="retailPrice"><br>
            Quantity: <input type="number" name="quantity"><br>

            Pet Relating: <select id="pet" name="pet">
               <option hidden selected >Choose a pet</option>
               <option value="1">Dog</option>
               <option value="2">Cat</option>
               <option value="3">Fish</option>
               <option value="4">Bird</option>
               <option value="5">Small Animals</option>
            </select>
            <br>

            Vendor: <select name="vendor">
               <option value="1">Giwrgos</option>
               <option value="2">Giannis</option>
               <option value="3">Giwths</option>
            </select> <br>
            Status: <select name="status">
               <option value="1">Available</option>
               <option value="2">Out of Stock</option>
            </select> <br>

            Product category: <select id="pet-category" name="category">
               <option hidden selected>Choose your category</option>
            </select> <br>

            Product subcategory: <select name="subcategory">
               <option value="1">Dry food</option>
               <option value="2">Dog Cans</option>
               <option value="3">Dog Treats and Chews</option>
            </select> <br>

            Upload an Image: <input type="file" id="image" name="image"> <br>
            <input type="submit" value="Add Product">
         </form>
         <%-include("../footer") %>
            <%- include("../scripts") %>
               <script src="newProduct.js" type="text/javascript"></script>
   </body>