 * {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}



/* SMALL USEFULL CLASSES */
.capitalize {
  text-transform: capitalize;
}

/***** NAVBAR *****/

.bg-custom {
  background-color: rgb(30, 116, 48);
  border-bottom: 3px solid orange;
  /*background-image: url("img/download.png");*/
  color: white;
}


.navicon{
  font-size:25px;
}


.nav-link{
  position:relative;
  margin:0;
  padding:0;

}
.dropdown-menu {
  color: orange;
  background-color: rgb(30, 116, 48);
}
.drop-ul li a {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}
.drop-ul li:first-child a:hover {
  text-decoration: underline;
}

.nav-item:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 47px;
  background-color: rgb(30, 116, 48);
  color: orange;
}

#navbar {
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0px;
  transition: 0.5s;
  z-index: 1;
  height: 4rem;
}
.ul-image-box {
  border: 2px solid orange;
  background-color: white;
  width: 18%;
  height: 15rem;
  margin: auto auto auto auto;
}

.category-pic {
  width: 100%;
  height: 100%;
}

/* #dogCategoriesPic{
  width:100%;
  height:100%;
} */
.li-header {
  text-align: center;
}

.ul-custom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerImageFont {
  color: lightgrey;
}

.custom-img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  /* max-width:100px; */
}

/* .carousel{
  height: 25em;
} */

.carousel_a-custom {
  text-decoration: none;
  color: white;
}

.bgheader {
  background-image: url("img/dog\ body.jpg");
  background-size: cover;
}
.sub_ul-custom {
  background-color: rgb(30, 116, 48);
  color: orange;
  list-style: none;
  margin-top: 0;
  /* display:flex;
    flex-direction:row; */
}
.sub_ul-custom > li {
  list-style: none;
}
.dropdown-ul {
  display: flex;
  flex-direction: row;
  color: orange;
  background-color: rgb(30, 116, 48);
}

.no-radius {
  border-radius: 0 !important;
}
.main {
  display: flex;
  flex-direction: row;
}
.main1-custom {
  width: 80%;
}

/* .cart-custom{
    font-size:2rem;
} */



.myBox img {
  max-height: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.myProductBox img {
  max-height: 150px !important;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}
.myProductBox h4 {
  text-align: center;
  font-size:0.8rem !important;

}

.myBox h4 {
  text-align: center;
}

#cart {
  margin-left: 350px;
}

.myBox button {
  width: 100%;
}
.myProductBox button {
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
}

#map {
  width: 100%;
  height: 500px;
  filter: grayscale(50%);
}

img#check {
  display: block;
  margin: 15% auto;
}

.card img {
  max-height: 350px;
  object-fit: cover;
  object-position: 75% 25%;
}

/* .text-center {
  margin-top: 35px;
} */

/* .myBox img{
    border: 5px;
    border-color: black;

} */

.top-shipping {
  position: fixed;
  bottom: 350px;
  right: 20px;
  color: rgb(219, 124, 34);
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

/*****INDEX CATEGORIES ******/

.custom-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  margin: auto;
  width: 100%;
}
.petchoice {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.petchoice > p {
  visibility: hidden;
}
.petchoice:hover p {
  visibility: visible;
  text-align: center;
}

.image5 {
  /* width:100%;
    height:100%; */
  background: url("https://static.wixstatic.com/media/8be24b_a85e8ba0b93849d6afa748fa9b3dc556~mv2.gif")
    center center no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.image4 {
  /* width:100%;
    height:100%; */
  background: url("https://bestanimations.com/media/fish/1147880813animated-tropical-fish-6.gif")
    center center no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.image3 {
  /* width:100%;
    height:100%; */
  background: url("https://www.nicepng.com/png/detail/1-14552_hummingbird-quality-png-picture-hummingbirds-png.png")
    center center no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.image2 {
  /* width:100%;
    height:100%; */
  background: url("https://c.tenor.com/EPLB9VPvzN0AAAAC/cat-cats.gif") center
    center;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.image1 {
  /* width:100%;
    height:100%; */
  background: url("https://thumbs.gfycat.com/BasicInconsequentialDuck.webp")
    center center no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.pet {
  width: 150px;
  height: 150px;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.pet-categ {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid black;
}
.pet-categ:hover {
  border: 5px solid green;
}
.pets-heading {
  text-align: center;
  margin-bottom: 5px;
}

.dog-categ:hover .image1 {
  transform: scale(1.5);
}
.cat-categ:hover .image2 {
  transform: scale(1.4);
}
.bird-categ:hover .image3 {
  transform: scale(1.5);
}
.fish-categ:hover .image4 {
  transform: scale(1.5);
}
.small-pets-categ:hover .image5 {
  transform: scale(1.4);
}

/******** FOOTER ******/

.footer  a {
  color: #26962a;
  text-decoration: none;
  margin-left: 62px;

}

.footer h4 {

  margin-left: 62px;

}

.footer  a:hover {
  color:rgb(14, 190, 52);
}

.copyright {
  position: relative;
  bottom: -165px; left: 6px;
}


/******** PRODUCT VIEW *********/
.imgView{
  height:100%;

}
#main-view{
  width:100%;
  height:200rem;

}
.productImg{
  height:180rem;
}


/****** FOOOTER *****/
#media {
  margin-left: auto;
  margin-right: 1rem;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#media a {
  font-size: 2rem;
  text-decoration: none;
}


/****** categories/:pet ********/

 .petChoice {
  text-align:center;
  width:100%;
  margin: auto;
  margin-bottom: 10px;
}
.petCategories {
  margin: 50px auto;
  text-align: center;
  width: 100%;
}

.petCateg {
  width: 50%;
  height: 13rem;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  border: 5px solid black;
}

.petDivImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: 40% 50% !important;
  overflow: hidden;
  transition: all 1s ease-in-out;
}



@media only screen and (max-width: 991px) {

  .custom-categories {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .top-shipping-msg,
  .top-shipping-img {
    visibility: hidden;
  }
 .carousel {
  width: 100%;
}
}

/*--- ## Tablets and under -----*/

@media (max-width: 768px) {
}
/* --- ##Mobile ----*/

@media (max-width: 500px) {
  .top-shipping-msg,
  .top-shipping-img {
    visibility: hidden;
  }
}

/************* FOOTER **********************/

/* --- Reason to smile --- */

#reason-to-smile {
font-weight: bold;
text-transform: capitalize;
}

#reason-to-smile img {
  width: 20vw;
  height:25vh;
}





 /****************************************************************/



body, html {
  width: 100%;
  height: 100%;
}

.shop-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #222;
  opacity: .8;
}
.pop-up {
  width: 900px;
  height: auto;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 80px;
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 2px;
}

.pics {
  float: left;
  width: 460px;
  margin-right: 0px;
}
.pics span {
  display: block;
}


.main-img img:hover {
  box-shadow: 0 0 6px #ddd;
}
/*PRODUCT INFORMATION*/
.product {
  float: right;
  width: 430px;
}
span.category {
  display: block;
  font-weight: 700;
  color: #888;
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
}
.product .category:hover {
  color: #999;
  cursor: pointer;
}
.product h1 {
  width: 300px;
  font-size: 21px;
  line-height: 24px;
  margin-top: 5px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: .3px;
}
/*STOCK LABEL*/
span.stock {
  display: block;
  float: right;
  position: relative;
  top: 4px;
  line-height: 11px;
  padding: 6px 12px 5px 12px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #18d11f;
  border-radius: 14px;
  letter-spacing: .3px;
}
.out-of-stock{
  display: block;
  float: right;
  position: relative;
  top: 4px;
  line-height: 11px;
  padding: 6px 12px 5px 12px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: red;
  border-radius: 14px;
  letter-spacing: .3px;

}
/*PRICE & RATING*/
.block-price-rating {
  width: 100%;
  margin-top: 10px;
}
.block-price {
  float: left;
  width: auto;
  margin-right: 20px;
}
.price-new {
  float: left;
  font-weight: bold;
  margin-right: 10px;
}
.price-new-dollar {
  float: left;
  display: block;
  font-size: 24px;
  margin-right: 5px;
  color: #333;
}
.price-new-cent {
  font-size: 14px;
}
.price-old {
  text-decoration: line-through;
  color: #444;
  font-size: 14px;
  position: relative;
  top: 6px;
}
/*rating*/
.block-rating {
  float: right;
  position: relative;
  top: 2px;
}
span.rating img {
  display: block;
  float: left;
  width: 110px;
  margin-left: 10px;
}
span.rating img:hover {
  cursor: pointer;
}
/*review*/
span.review {
  display: block;
  float: left;
  position: relative;
  top: 6px;
  font-weight: 700;
  color: #888;
  font-size: 12px;
  font-style: italic;
}
span.review:hover {
  color: #999;
  cursor: pointer;
}

/*PRODUCT DESCRIPTION*/

.descr { 
  font-size: 14px;
  line-height: 18px;
  color: #444;
  letter-spacing: .3px;
  margin-top: 10px;
  width: 430px;
  height: 71px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: no-wrap;
} 

/*SELECT BLOCK*/

.block-select {
  margin-top: 15px;
}
.select-size {
  text-align:center;
  width:100%;
  margin:auto;
  /* float: left; */
  font-size: 14px;
  font-weight: 700;
  color: #888;
}
.select-color span,
.select-size span {
  display: block;
  margin-bottom: 5px;
}
select.color {
  width: 320px;
  margin-right: 10px;
}
select.size {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  width: 100px;
}
select.color, select.size {
  
  padding: 8px 10px;
  border: .5px solid #ddd;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: .7;
  letter-spacing: .3px;
}

/*BUTTON*/

.btn {
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: .3px;
  text-transform: uppercase;
  padding: 15px 0;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  background: #fd7064;
}
.btn:hover {
  background: #fc796f;
}

/*LINKS*/

.block-footer {
  width: 100%;
  margin-top: 10px;
}
.block-links {
  float: left;
  cursor: pointer;
}
.block-links img {
  width: 20px;
  opacity: .3;
  vertical-align: middle;
  margin-right: 5px;
}
.block-links span {
  font-size: 11px;
  color: #888;
  font-weight: 700;
  letter-spacing: .3px;
  text-transform: uppercase;
  font-style: italic;
}
.block-links span:hover {
  color: #999;
}
.wishlist {
  margin-top: 5px;
}

/*SOCIAL*/

.social {
  float: right;
  position: relative;
  top: 5px;
}
.social img {
  width: 36px;
  opacity: .3;
  cursor: pointer;
  margin-right: 3px;
  display: inline;
}
.social img:nth-child(4) {
  margin-right: 0;
}
.social img:hover {
  opacity: .2;
}

.zoomArea{
  overflow:hidden;
  position:relative;
  display:block;
}
.zoomArea span{
  position:relative;
  /* overflow:hidden; */

}
#zoomImg{
  /* z-index:1; */
  border: .5px solid #ddd;
  border-radius: 2px;
  padding: 60px 30px;
  width: 390px;
  margin-bottom: 10px;
  cursor: pointer;
  max-width: 100%;
	min-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#productViewForm{
  margin:auto;
  width:100%;
  display:flex;
  flex-direction:column;
}
#quantity{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

#modal-close {
  display: block;
  float: right;
  position: relative;
  /* margin-left:100% !important; */
  width:100%;
  color:red;
  /* position: absolute; */
  /* top: 10px;
  right: 16px; */
  cursor: pointer;
  font-weight: bold;
  size: 20rem;
  }

  .descr-div{
    width:100%;
    margin-top:1.2rem;
    margin-bottom:1.2rem;
  }
  .descr-paragraph{
    word-break:break-all;
  }

  .quantity-button{
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    width:30%;
    background-color:white;
  }
  /******************************** CART *************************************/


.plus-minus {
    position: relative
}

.plus {
    position: absolute;
    top: -4px;
    left: 2px;
    cursor: pointer
}

.minus {
    position: absolute;
    top: 8px;
    left: 5px;
    cursor: pointer
}

.vsm-text:hover {
    color: #FF5252
}

.book,
.book-img {
    width: 120px;
    height: 180px;
    border-radius: 5px
}

.book {
    margin: 20px 15px 5px 15px
}

.border-top {
    border-top: 1px solid #EEEEEE !important;
    margin-top: 20px;
    padding-top: 15px
}

.card {
    margin: 40px 0px;
    padding: 40px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
}

input,
textarea {
    background-color: #F3E5F5;
    padding: 8px 15px 8px 15px;
    width: 100%;
    border-radius: 5px !important;
    box-sizing: border-box;
    border: 1px solid #F3E5F5;
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #9FA8DA;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.pay {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #673AB7;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    color: #E0E0E0
}

.gray .pay {
    box-shadow: none
}

#tax {
    border-top: 1px lightgray solid;
    margin-top: 10px;
    padding-top: 10px
}

.btn-blue {
    border: none;
    border-radius: 10px;
    background-color: #673AB7;
    color: #fff;
    padding: 8px 15px;
    margin: 20px 0px;
    cursor: pointer
}

.btn-blue:hover {
    background-color: #311B92;
    color: #fff
}

#checkout {
    float: left
}

#check-amt {
    float: right
}

@media screen and (max-width: 768px) {

    .book,
    .book-img {
        width: 100px;
        height: 150px
    }

    .card {
        padding-left: 15px;
        padding-right: 15px
    }

    .mob-text {
        font-size: 13px
    }

    .pad-left {
        padding-left: 20px
    }
}
/****************************** cart navbar **************************/

.productsOnCart {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: rgb(243, 240, 240);
    /* border:0.5px solid black; */
    border-radius:20px;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.212);
    width: 0px;
    height: 500px;
    color: black;
    z-index: 100;
    position: fixed;
    top: 200px;
    right: 0;
    transition:.5s;
    text-align: center;
    cursor:pointer;
}

.productsOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
}

.productsOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:.5s;
}

.productsOnCart .buyItem {
    border-bottom: #aaa 3px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
    transition:.5s;
}

.productsOnCart img {
    width: 90px;
    transition:.5s;
}

.productsOnCart .top {
    display: flex;
    background-color: rgb(30, 116, 48);
    text-align: center;
    border-bottom:3px solid orange;
    padding: 10px 0;
    position: sticky;
    top: 0;
    color:rgba(255,255,255,.55);
    width: 100%;
    transition:.5s;
}

.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #c24c37;
    cursor: pointer;
}

.top button:hover {
    color: #e40505;
}

.top h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.producstOnCart > .checkout {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: #297075;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
    transition:.5s;
}

.sideCartName{
  font-size:20px;
}
.sideCartBtns{
  width:100%;
}

.sideCountBtn{
  width:20%;
}
.sideCartImg{
  width:100px;
  height:170px;
}
.mainBodySideCart{
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}
.checkouticon{
  font-size:25px;
}

#sidebar {
  margin-left: 72px;
  width: 280px;
}

