/* SMALL USEFULL CLASSES */
.capitalize {
  text-transform: capitalize;
}

/***** NAVBAR *****/

.bg-custom {
  background-color: rgb(30, 116, 48);
  border-bottom: 3px solid orange;
  /*background-image: url("img/download.png");*/
  color: white;
}

.nav-link {
  position: relative;
  margin: 0;
  padding: 0;
}
.dropdown-menu {
  color: orange;
  background-color: rgb(30, 116, 48);
}
.drop-ul li a {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}
.drop-ul li:first-child a:hover {
  text-decoration: underline;
}

.nav-item:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 47px;
  background-color: rgb(30, 116, 48);
  color: orange;
}

#navbar {
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0px;
  transition: 0.5s;
  z-index: 1;
}
.ul-image-box {
  border: 2px solid orange;
  background-color: white;
  width: 18%;
  height: 15rem;
  margin: auto auto auto auto;
}

.category-pic {
  width: 100%;
  height: 100%;
}

/* #dogCategoriesPic{
  width:100%;
  height:100%;
} */
.li-header {
  text-align: center;
}

.ul-custom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerImageFont {
  color: lightgrey;
}

.custom-img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  /* max-width:100px; */
}

/* .carousel{
  height: 25em;
} */

.carousel_a-custom {
  text-decoration: none;
  color: white;
}

.bgheader {
  background-image: url("img/dog\ body.jpg");
  background-size: cover;
}
.sub_ul-custom {
  background-color: rgb(30, 116, 48);
  color: orange;
  list-style: none;
  margin-top: 0;
  /* display:flex;
    flex-direction:row; */
}
.sub_ul-custom > li {
  list-style: none;
}
.dropdown-ul {
  display: flex;
  flex-direction: row;
  color: orange;
  background-color: rgb(30, 116, 48);
}

.no-radius {
  border-radius: 0 !important;
}
.main {
  display: flex;
  flex-direction: row;
}
.main1-custom {
  width: 80%;
}

/* .cart-custom{
    font-size:2rem;
} */

.myBox img {
  max-height: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.myProductBox img {
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.myProductBox h4 {
  text-align: center;
  font-size: 0.8rem;
}

.myBox h4 {
  text-align: center;
}

#cart {
  margin-left: 350px;
}

.myBox button {
  width: 100%;
}
.myProductBox button {
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
}

#map {
  width: 100%;
  height: 500px;
  filter: grayscale(50%);
}

img#check {
  display: block;
  margin: 15% auto;
}

.card img {
  max-height: 350px;
  object-fit: cover;
  object-position: 75% 25%;
}

/* .text-center {
  margin-top: 35px;
} */

/* .myBox img{
    border: 5px;
    border-color: black;

} */

.top-shipping {
  position: fixed;
  bottom: 350px;
  right: 20px;
  color: rgb(219, 124, 34);
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

/*****INDEX CATEGORIES ******/

.custom-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  margin: auto;
  width: 100%;
}
.petchoice {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.petchoice > p {
  visibility: hidden;
}
.petchoice:hover p {
  visibility: visible;
  text-align: center;
}

.image5 {
  /* width:100%;
    height:100%; */
  background: url("https://static.wixstatic.com/media/8be24b_a85e8ba0b93849d6afa748fa9b3dc556~mv2.gif")
    center center no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.image4 {
  /* width:100%;
    height:100%; */
  background: url("https://bestanimations.com/media/fish/1147880813animated-tropical-fish-6.gif")
    center center no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.image3 {
  /* width:100%;
    height:100%; */
  background: url("https://www.nicepng.com/png/detail/1-14552_hummingbird-quality-png-picture-hummingbirds-png.png")
    center center no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.image2 {
  /* width:100%;
    height:100%; */
  background: url("https://c.tenor.com/EPLB9VPvzN0AAAAC/cat-cats.gif") center
    center;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.image1 {
  /* width:100%;
    height:100%; */
  background: url("https://thumbs.gfycat.com/BasicInconsequentialDuck.webp")
    center center no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.pet {
  width: 150px;
  height: 150px;
  background-size: contain;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.pet-categ {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid black;
}
.pet-categ:hover {
  border: 5px solid green;
}
.pets-heading {
  text-align: center;
  margin-bottom: 5px;
}

.dog-categ:hover .image1 {
  transform: scale(1.5);
}
.cat-categ:hover .image2 {
  transform: scale(1.4);
}
.bird-categ:hover .image3 {
  transform: scale(1.5);
}
.fish-categ:hover .image4 {
  transform: scale(1.5);
}
.small-pets-categ:hover .image5 {
  transform: scale(1.4);
}

/****** FOOOTER *****/
#media {
  margin-left: auto;
  margin-right: 1rem;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#media a {
  font-size: 2rem;
  text-decoration: none;
}


/****** categories/:pet ********/
.petChoice {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
.petCategories {
  margin: 50px auto;
  text-align: center;
  width: 100%;
}

.petCateg {
  width: 50%;
  height: 13rem;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  border: 5px solid black;
}

.petDivImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: 40% 50% !important;
  overflow: hidden;
  transition: all 1s ease-in-out;
}


@media only screen and (max-width: 991px) {

  .custom-categories {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .top-shipping-msg,
  .top-shipping-img {
    visibility: hidden;
  }
 .carousel {
  width: 100%;
}
}

/*--- ## Tablets and under -----*/

@media (max-width: 768px) {
}
/* --- ##Mobile ----*/

@media (max-width: 500px) {
  .top-shipping-msg,
  .top-shipping-img {
    visibility: hidden;
  }
}
